{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro y Consultar </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel='stylesheet' href="{% static 'empleados.css' %}">
    <link rel="icon" href="{% static 'imagenes/logo_naciones_unidas.png'%}" type="image/x-icon">
    <style>
        body {
            background-color: #f4f7fa;
            
        }


        .form-control {
            margin-bottom: 10px;
        }

        .card {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
        }

        h1, h3 {
            color: #333;
        }

        .table th, .table td {
            text-align: center;
        }

        .table-striped tbody tr:nth-child(odd) {
            background-color: #f8f9fa;
        }

        .table-bordered {
            border: 1px solid #ddd;
        }

        
    </style>


</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="menu-toggle btn btn-outline-light" onclick="toggleSidebar()"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
            </ul>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <a href="{% url 'registro' %}" class="btn"><i class="fas fa-user-plus"></i> Registrarse</a>
        <a href="{% url 'empleados' %}" class="btn btn-secondary"><i class="fas fa-users"></i> Empleados</a>
        <a class="btn logout-btn" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        <a href="{% url 'asistencia:registrar_asistencia' %}"><i class="fas fa-check-square"></i> Registrar Asistencia</a>
        <a href="{% url 'asistencia:lista_asistencias' %}"><i class="fas fa-list-alt"></i> Ver Asistencias</a>
        <a href="{% url 'dashboard' %}"><i class="fas fa-chart-line"></i> Dashboard</a>
    </div>
    

    <div class="content" id="content">
        <div class="container mt-4">
            <h2>Registrar y Consultar </h2>

            <!-- Botón para abrir el modal de agregar empleado -->
            <button type="button" class="btn btn-success mb-3" onclick="openAddModal()">Agregar</button>

            <div class="form-row">
    <div class="col">
        <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar por nombre o dni...">
    </div>
    <div class="col">
        <input type="text" id="searchByCodigo" class="form-control mb-3" placeholder="Buscar por código...">
    </div>
</div>
            <!-- Tabla para listar empleados registrados -->
            <h3>Lista de Empleados</h3>
            <table id="employeeTable" class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Dni</th>
                        <th>Horario de Entrada</th>
                        <th>Horario de Salida</th>
                        <th>Horario de Refrigerio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.codigo }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.dni }}</td>
                        <td>{{ empleado.horario_entrada }}</td>
                        <td>{{ empleado.horario_salida }}</td>
                        <td>{{ empleado.horario_refrigerio }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cog"></i> <!-- Icono de engranaje -->
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#"
                                        onclick="openEditModal('{{ empleado.id }}')">Actualizar</a>
                                    <form method="post" action="{% url 'eliminar_empleado' empleado.id %}"
                                        style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item"
                                            onclick="return confirm('¿Estás seguro de que quieres eliminar este empleado?');">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Modal para agregar empleado -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Agregar Empleado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.codigo.errors }}
                                {{ form.codigo.label }} {{ form.codigo }}
                                <small id="codigoError" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                {{ form.nombre.errors }}
                                {{ form.nombre.label }} {{ form.nombre }}
                                <small id="nombreError" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                {{ form.dni.errors }}
                                {{ form.dni.label }} {{ form.dni }}
                                <small id="dniError" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                {{ form.horario_entrada.label }}
                                {{ form.horario_entrada }}

                            </div>
                            <div class="form-group">
                                {{ form.horario_salida.label }}
                                {{ form.horario_salida }}

                            </div>
                            <div class="form-group">
                                {{ form.horario_refrigerio.label }}
                                {{ form.horario_refrigerio }}
                            </div>
                            <!-- Botón de envío deshabilitado por defecto -->
                            <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Guardar</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>



        <!-- Modal para editar empleado -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Editar Empleado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="editModalContent">
                        <!-- El contenido del formulario se cargará aquí -->
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const codigoInput = document.getElementById('id_codigo');
                const nombreInput = document.getElementById('id_nombre');
                const dniInput = document.getElementById('id_dni');
                const submitBtn = document.getElementById('submitBtn');

                // Función para verificar si todos los campos son válidos
                function checkFormValidity() {
                    const isCodigoValid = /^\d+$/.test(codigoInput.value);
                    const isNombreValid = /^[a-zA-Z]+$/.test(nombreInput.value);
                    const isDniValid = /^\d{8}$/.test(dniInput.value);  // Validar DNI como exactamente 8 dígitos

                    // Habilita el botón si todos los campos son válidos
                    submitBtn.disabled = !(isCodigoValid && isNombreValid && isDniValid);
                }

                // Validar código: solo números
                codigoInput.addEventListener('input', function () {
                    const errorMessage = /^\d+$/.test(codigoInput.value)
                        ? ''
                        : 'El código debe contener solo números.';
                    document.getElementById('codigoError').textContent = errorMessage;
                    checkFormValidity();
                });

                // Validar nombre: solo letras
                nombreInput.addEventListener('input', function () {
                    const errorMessage = /^[a-zA-Z]+$/.test(nombreInput.value)
                        ? ''
                        : 'El nombre debe contener solo letras.';
                    document.getElementById('nombreError').textContent = errorMessage;
                    checkFormValidity();
                });

                // Validar DNI: exactamente 8 dígitos
                dniInput.addEventListener('input', function () {
                    const errorMessage = /^\d{8}$/.test(dniInput.value)
                        ? ''
                        : 'El DNI debe contener exactamente 8 dígitos.';
                    document.getElementById('dniError').textContent = errorMessage;

                    // Verificar si el DNI ya existe en la base de datos
                    fetch('/verificar_dni/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ dni: dniInput.value })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.exists) {
                                document.getElementById('dniError').textContent = 'El DNI ya está registrado.';
                            }
                        });

                    checkFormValidity();
                });
            });





            // Inicializar DataTables
            $(document).ready(function () {
                $('#employeeTable').DataTable({
                    paging: true,
                    searching: false,
                    ordering: true,
                    order: [],
                    columnDefs: [
                        { orderable: false, targets: 6 } // Desactivar orden en la columna de "Acciones"
                    ]
                });
            });


            // Filtro en tiempo real por código, nombre o DNI
            $('#searchInput').on('keyup', function () {
                const value = $(this).val().toLowerCase();
                $('#employeeTable tbody tr').filter(function () {
                    const codigo = $(this).find('td:nth-child(1)').text().toLowerCase();  
                    const nombre = $(this).find('td:nth-child(2)').text().toLowerCase();  
                    const dni = $(this).find('td:nth-child(3)').text().toLowerCase();     
                    $(this).toggle(codigo.includes(value) || nombre.includes(value) || dni.includes(value));  
                });
            });

            // Filtro en tiempo real por código
$('#searchByCodigo').on('keyup', function () {
    const value = $(this).val().toLowerCase();
    $('#employeeTable tbody tr').filter(function () {
        const codigo = $(this).find('td:nth-child(1)').text().toLowerCase();
        $(this).toggle(codigo.includes(value));
    });
});

            // Funciones para abrir los modales
            function openAddModal() {
                $('#addModal').modal('show');
            }

            function openEditModal(id) {

                $.get(`/marcacion/empleados/actualizar/${id}/`, function (data) {
                    $('#editModalContent').html(data); // Carga el formulario en el modal
                    $('#editModal').modal('show');    // Muestra el modal
                }).fail(function () {
                    alert('Error al cargar los datos del empleado.');
                });

            }


            // Evita que el usuario use el botón de retroceso
            history.pushState(null, null, location.href);
            window.onpopstate = function () {
                history.go(1);
            };

            // Función para alternar el sidebar
            function toggleSidebar() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('shifted'); // Cambiar margen al contenido
            }

            setTimeout(function () {
                $('.alert').fadeOut('slow');
            }, 5000);


            // Validar código: solo números
            document.getElementById('id_codigo').addEventListener('input', function () {
                var codigo = this.value;
                var errorMessage = '';
                if (!/^\d+$/.test(codigo)) {
                    errorMessage = "El código debe contener solo números.";
                }
                document.getElementById('codigoError').textContent = errorMessage;
            });

            // Validar nombre: solo letras
            document.getElementById('id_nombre').addEventListener('input', function () {
                var nombre = this.value;
                var errorMessage = '';
                if (!/^[a-zA-Z]+$/.test(nombre)) {
                    errorMessage = "El nombre debe contener solo letras.";
                }
                document.getElementById('nombreError').textContent = errorMessage;
            });




        </script>
</body>

</html>